<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <meta http-equiv="Cache-control" content="private">
        <meta http-equiv="expires" content="3600" />
        <meta http-equiv="pragma" content="cache" />
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
        <script src="/js/chunk-vendors.js"></script>
        <script src="/js/chunk-common.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=0.5, scale=0.5, maximum-scale=0.6, user-scalable=no, minimal-ui">
        
        <style>
        body {
            zoom: 85%; /* IE */
            -moz-transform: scale(85%); /* Firefox */
            -moz-transform-origin: 0 0;
            -o-transform: scale(85%); /* Opera */
            -o-transform-origin: 0 0;
            -webkit-transform: scale(85%); /* Safari And Chrome */
            -webkit-transform-origin: 0 0;
            transform: scale(85%); /* Standard Property */
            transform-origin: 0 0;  /* Standard Property */

        }
        </style>

    </head>
    <body>
        
        <div id="app">
            {% block body %}{% endblock %}
        </div>

        {% block js %}{% endblock %}
    </body>
</html>
